// COLORS
$color-black: #000000;
$color-white: #ffffff;
$color-burnt-sienna: #e8594e;
$color-gable-green: #1c2e3d;
$color-neptune: #73afba;
$color-mercury: #e7e7e7;
$color-mercury-shade: #e3e3e3;
$color-mercury-shade-2: #e4e4e4;
$color-limed-spruce: #3c4a51;
$color-river-bed: #4d5a5f;
$color-slate-gray: #788692;
$color-silver-sand: #bbc0c5;
$color-mirage: #151c24;
$color-alto: #d9d9d9;
$color-rangoon-green: #100e0b;
$color-regent-gray: #959ea6;
$color-aqua-forest: #57a773;
$color-zeus: #1b1916;
