// COLORS
$color-black: #000000;
$color-white: #ffffff;
$color-burnt-sienna: #e8594e;
$color-gable-green: #1c2e3d;
$color-neptune: #73afba;
$color-mercury: #e7e7e7;
$color-mercury-shade: #e3e3e3;
$color-limed-spruce: #3c4a51;
$color-river-bed: #4d5a5f;
$color-slate-gray: #788692;
