.burger {
  position: relative;
  width: 48px;
  height: 10px;

  &__line {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: $color-white;
  }

  &__line:last-child {
    top: auto;
    bottom: 0;
  }
}
