.button {
  padding: 33px 82px 33px 80px;
  font-family: inherit;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2.18182px;
  color: inherit;
  text-transform: uppercase;
  background-color: $color-burnt-sienna;
  border-radius: 8px;
}
